<footer class="bg-dark text-white mt-4 footer">
  <div class="container-fluid py-3">
    <div class="row">
      <!-- <div class="col-lg-10 d-none d-lg-block text-center .body .flex-grow"> -->
        <ul class="nav w-100 justify-content-end">
          <li class="nav-item "><a href="https://angular.io/" target="TechnologyUsed" class="nav-link pl-0">
              <img src="https://angular.io/assets/images/favicons/favicon.ico" alt="Angular" width="24px" />
            </a></li>
          <li class="nav-item"><a href="https://spring.io/" target="TechnologyUsed" class="nav-link"><img
                src="https://spring.io/images/favicon.ico" alt="Spring Boot Cloud" width="24px" /></a></li>
          <li class="nav-item"><a href="https://www.mysql.com/" target="TechnologyUsed" class="nav-link"><img
                src="https://labs.mysql.com/common/themes/sakila/favicon.ico" alt="MySQL Server" width="24px" /></a>
          </li>
          <li class="nav-item"><a href="https://www.mongodb.com/" target="TechnologyUsed" class="nav-link"><img
                src="https://www.mongodb.com/assets/images/global/favicon.ico" alt="MySQL Server" width="24px" /></a>
          </li>
          <li class="nav-item"><a href="https://www.docker.com/" target="TechnologyUsed" class="nav-link"><img
                src="https://www.docker.com/sites/default/files/d8/Docker-R-Logo-08-2018-Monochomatic-RGB_Moby-x1.png"
                alt="MySQL Server" width="24px" /></a></li>
          <li class="nav-item  text-right small align-self-end "><a target="TechnologyUsed" class="nav-link"> &copy; swetpodd@in.ibm.com </a></li>
        </ul>
      <!-- </div> -->
    </div>
  </div>
</footer>