
<!-- Modal -->
<div *ngIf="book !== undefined" class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">  
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle" >  <b>Genre: </b><i> {{book.bookGenre}} </i>  </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
     
      <div class="modal-body text-center">
        <img class="card-img-top img-responsive" src={{book.bookURL}} alt="{{book.title}}" >
         
       </div>
       <div class="card-footer text-left">
          <p class="card-text"> <b>Title : </b> {{book.bookTitle}}</p>
          <p class="card-text" *ngIf="book.bookAuthor != undefined" > <b>Author : </b> {{book.bookAuthor}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
       
      </div>
    </div>
  </div>
</div>