<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>
	<!-- inclusion of base.xml log entries are double. No effect of additivity="false" -->"
	<!-- <include resource="org/springframework/boot/logging/logback/base.xml"/> -->
	<include resource="org/springframework/boot/logging/logback/defaults.xml"/>
	<!-- Example for logging into the build folder of your project -->
	<property name="LOG_FILE" value="${BUILD_FOLDER:-build}/${springAppName}"/>​
	<property name="CONSOLE_LOG_PATTERN" value="${CONSOLE_LOG_PATTERN:-%clr(%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd HH:mm:ss.SSS}}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}"/>
	<property name="FILE_LOG_PATTERN"    value="${FILE_LOG_PATTERN:-%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd HH:mm:ss.SSS}} ${LOG_LEVEL_PATTERN:-%5p} ${PID:- } --- [%t] %-40.40logger{39} : %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}"/>
	<property name="LOG_FILE_LOCATION" value="logs" />
	<property name="LOG_FILE_NAME" value="user-service" />
	<property name="LOG_FILE_EXTENSION" value=".log" />
	<timestamp key="bySecond" datePattern="yyyyMMdd'T'HHmmss" timeReference="contextBirth" />
	<!--<timestamp key="bySecond" datePattern="yyyyMMdd" /> -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>${CONSOLE_LOG_PATTERN}</pattern>
		</layout>
	</appender>
	<appender name="FILE-AUDIT" class="ch.qos.logback.core.FileAppender">
		<file>${LOG_FILE_LOCATION}/${LOG_FILE_NAME}_${bySecond}${LOG_FILE_EXTENSION}</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<!-- <Pattern> %d{yyyy-MM-dd HH:mm:ss} - %msg%n </Pattern> -->
			<pattern>${FILE_LOG_PATTERN}</pattern>
		</encoder>
	</appender>
	
	<!-- Send logs to both console and file audit -->
	<logger name="com.stackroute" level="debug" additivity="false">
		<appender-ref ref="FILE-AUDIT" />
		<appender-ref ref="STDOUT" />
	</logger>
	<root level="INFO">
		<appender-ref ref="FILE-AUDIT" />
		<appender-ref ref="STDOUT" />
	</root>
</configuration>