.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    transition: 0.3s;
    margin:6%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.8);
}

.card-body {
    padding:8px;
}

.card-img-top {    
    height: 12rem;  
    object-position: center;
    object-fit: scale-down;   
}

